<div class="main">
  <h2 class="is-size-1-mobile">Calculate Your One Rep Max</h2>
  <form>
    <div class="form-group">
      <label>WEIGHT</label>
      <input type="text" name="weight" class="weight" placeholder="0">
    </div>
    <br>
    <div class="form-group-reps">
      <label>REPS</label>
      <input type="text" name="reps" class="reps" placeholder="0">
    </div>
    <br>
    <div class="calcButton">
      <button class="button is-info">CALCULATE</button>
    </div>
  </form>
  <h3 class="answer"></h3>
</div>


<script src="./js/deadlift.js"></script>