<div class="card" style="width: 18rem;">
  <img src="/assets/bench-press.png" class="card-img-top" alt="bench press">
  <div class="card-body">
    <p class="card-text">Bench Press</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/assets/deadlift.png" class="card-img-top" alt="deadlift">
  <div class="card-body">
    <p class="card-text">Deadlift</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/assets/squat.png" class="card-img-top" alt="squat">
  <div class="card-body">
    <p class="card-text">Squat</p>
  </div>
</div>