<header>
  <nav>
    <div class="navbar-container">
      <h1>COR3</h1>
      <div class="nav-links">
        <a class="record" href="#">Records</a>
        <a class="logout" href="#">Logout</a>
      </div>
    </div>
  </nav>
</header>

<div class="homepage-body">
  <div class="card-container">

    <div class="card" style="width: 18rem;">
      <a href="../benchpress"><img src="/assets/bench-press.png" class="card-img-top"
          alt="bench press"></a>
      <div class="card-body">
        <p class="card-text">Bench Press</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <a href="../deadlift"><img src="/assets/deadlift.png" class="card-img-top" alt="deadlift"></a>
      <div class="card-body">
        <p class="card-text">Deadlift</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <a href="../squats"><img src="/assets/squats.png" class="card-img-top" alt="squat"></a>
      <div class="card-body">
        <p class="card-text">Squat</p>
      </div>
    </div>
  </div>
</div>

<script src="./js/homepage.js"></script>
