<div class="card-container">

<div class="card" style="width: 18rem;">
  <a href="http://localhost:3000/homepage"><img src="/assets/bench-press.png" class="card-img-top" alt="bench press"></a>
  <div class="card-body">
    <p class="card-text">Bench Press</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <a href="./views/deadlift.handlebars"><img src="/assets/deadlift.png" class="card-img-top" alt="deadlift"></a>
  <div class="card-body">
    <p class="card-text">Deadlift</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <a href="http://localhost:3000/homepage"><img src="/assets/squats.png" class="card-img-top" alt="squat"></a>
  <div class="card-body">
    <p class="card-text">Squat</p>
  </div>
</div>
</div>