<header>
  <nav>
    <div class="navbar-container">
      <h1>COR3</h1>
      <div class="nav-links">
        <a class="record" href="#">Records</a>
        <a class="logout" href="#">Logout</a>
      </div>
    </div>
  </nav>
</header>

<div class="card-container">

  <div class="card" style="width: 18rem;">
    <a href="http://localhost:3000/homepage"><img src="/assets/bench-press.png" class="card-img-top"
        alt="bench press"></a>
    <div class="card-body">
      <p class="card-text">Bench Press</p>
    </div>
  </div>
<<<<<<< HEAD
  <div class="card" style="width: 18rem;">
    <a href="http://localhost:3000/homepage"><img src="/assets/deadlift.png" class="card-img-top" alt="deadlift"></a>
    <div class="card-body">
      <p class="card-text">Deadlift</p>
    </div>
=======
</div>
<div class="card" style="width: 18rem;">
  <a href="./views/deadlift.handlebars"><img src="/assets/deadlift.png" class="card-img-top" alt="deadlift"></a>
  <div class="card-body">
    <p class="card-text">Deadlift</p>
>>>>>>> 9ffec4a2603c20cd9802837676abf48201eb75fe
  </div>
  <div class="card" style="width: 18rem;">
    <a href="http://localhost:3000/homepage"><img src="/assets/squats.png" class="card-img-top" alt="squat"></a>
    <div class="card-body">
      <p class="card-text">Squat</p>
    </div>
  </div>
</div>

<script src="./js/homepage.js"></script>