<div class="record-body">
<div class="record-intro">
    <h1>Hello, {{username}}!</h1>
    <p>The following table records your <span>one rep maximum</span> for each of the three core lifts. This is
        determined from your workout entries, see how far you've come!
    </p>
</div>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th scope="col"><center>Bench Max</center></th>
        </tr>
    </thead>
    <tbody>
        {{#each benchMaxes as |bench|}}
        <tr>
            <td>{{bench}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col"><center>Deadlift Max</center></th>
        </tr>
    </thead>
    <tbody>
        {{#each deadliftMaxes as |deadlift|}}
        <tr>
            <td>{{deadlift}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col"><center>Squat Max</center></th>
        </tr>
    </thead>
    <tbody>
        {{#each squatMaxes as |squat|}}
        <tr>
            <td>{{squat}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

<script src="./js/record.js"></script>
