<header>
    <nav>
        <div class="navbar-container">
            <h1>COR3</h1>
            <div class="nav-links">
                <a class="home" href="#">Home</a>
                <a class="logout" href="#">Logout</a>
            </div>
        </div>
    </nav>
</header>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Bench Max</th>
            <th scope="col">Deadlift Max</th>
            <th scope="col">Squat Max</th>
        </tr>
    </thead>
    <tbody>
        {{#each allWorkouts}}
        <tr>
            <td>{{user_id}}</td>
            <td>{{bench_max}}</td>
            <td>{{deadlift_max}}</td>
            <td>{{squat_max}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/record.js"></script>